<%- model_class = Action -%>
<div class="page-header">
  <h1><%= @player.name %> activity</h1>
</div>

<%= link_to '&laquo; Back to '.html_safe+ @player.name + ' profile', player_path(@player), :class => 'btn'%>

<% content_for :javascript do %>
  <%= javascript_include_tag "highchart/highcharts" %>
  <%= javascript_include_tag "highchart/modules/exporting" %>

<script>
$(function () {
        $.get('<%= daily_action_path(@player.id) %>', function(data){
            $('#dailyActivity').highcharts({
                title: { text: 'Daily activity' },
                xAxis: { type: 'datetime' },
                yAxis: {
                    title: { text: 'Amount actions and activity points' },
                    min: 0
                },
                tooltip: {
                    shared: true, crosshairs: true
                },
                series: data
            });
        })

        $.get('<%= hour_action_path(@player.id) %>', function(data){
            var four_hour_stat = {}, four_hour_data = []

            // Конвертируем почасовую статистику, в группы по 4 часа
            for(var i in data){
                var hour = Math.floor((data[i][0]) / 4)*4, activity = data[i][1];
                if( four_hour_stat[hour] ) four_hour_stat[hour][1] += activity
                else four_hour_stat[hour] = [ hour + " - " + (hour+4), activity ]
            }
            for (var i in four_hour_stat ) four_hour_data.push( four_hour_stat[i] )
            // Необходимо преобразовать к строке, иначе Highchart не понимает число
            for(var i in data) data[i][0] = data[i][0] + ''

            var hourSeries = [{
                center: [110, 100], size: 150,
                showInLegend: false, data: data
            }, {
                center: [410, 100], size: 150,
                showInLegend: false, data: four_hour_data
            }];

            $('#hourActivity').highcharts({
                chart: { type: 'pie' },
                title: { text: 'Hour activity' },
                
                tooltip: {
                    shared: true,
                    crosshairs: true,
                    formatter: function () {
                       return '<strong>'+this.key + '</strong><br>' + this.total + ' (' + Highcharts.numberFormat(this.percentage, 1)+ '%)';
                    }
                },
                series: hourSeries
            });
        });
        
    });
</script>
<% end %>

<div id="dailyActivity" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="hourActivity" style="width: 600px; height: 300px; margin: 0 auto"></div>