<%- model_class = Action -%>
<div class="page-header">
  <h1><%= @player.name %> activity</h1>
</div>

<%= link_to '&laquo; Back to '.html_safe+ @player.name + ' profile', player_path(@player), :class => 'btn'%>

<% content_for :javascript do %>
  <%= javascript_include_tag "highchart/highcharts" %>
  <%= javascript_include_tag "highchart/modules/exporting" %>

<script>
$(function () {
        var series = [

            <% @actions.each do |name, actions_by_type| %>
            {
              name: '<%= name %>',
              type: '<%= (name == :usage_points or name == :action_points) ? 'spline' : 'column' %>',
                data: [
              <% actions_by_type.each do |action| %>
                
                  [ new Date('<%= action[:date].strftime('%Y-%m-%d %H:%M:%S') %>').getTime(), <%= action[:activity] %>],
                
              <% end %>
            ]} ,
            <% end %>
            ]
            , pieSeries = {
                center: [110, 100],
                size: 150,
                showInLegend: false,
            data: [
            <% @hourly_actions.each do |action| %>
              { name: '<%= action[:hour] %>', y: <%= action[:activity] %> },
            <% end %>
            ]}
            , pie4Series = {
                center: [410, 100],
                size: 150,
                showInLegend: false,
            data: [
            <% @hourly4_actions.each do |action| %>
              { name: '<%= action[:hour] %> - <%= action[:hour].to_i+4 %>', y: <%= action[:activity] %> },
            <% end %>
            ]};
        $('#container').highcharts({
            chart: {
                //type: 'column'
            },
            title: {
                text: 'Daily activity'
            },
            subtitle: {
                text: 'Last 50 groups'
            },
            xAxis: {
                type: 'datetime',
                // tickInterval : 60 * 1000,
                // dateTimeLabelFormats: { // don't display the dummy year
                //     // minute: '%H:%M',
                //     day: '%e. %b',
                // }
            },
            yAxis: {
                title: {
                    text: 'Amount and action points'
                },
                min: 0
            },
            tooltip: {
                // formatter: function() {
                //       return '<b>'+ this.series.name +'</b><br/>'+
                //         Highcharts.dateFormat('%d %H:%M', this.x) +' / '+ this.y +' points';
                // }
                shared: true,
                crosshairs: true
            },
            series: series
        });
        $('#containerPie').highcharts({
            chart: { type: 'pie' },
            title: { text: 'Hour activity' },
            
            tooltip: {
                shared: true,
                crosshairs: true,
                formatter: function () {
                   return '<strong>'+this.key + '</strong><br>' + this.total + ' (' + Highcharts.numberFormat(this.percentage, 1)+ '%)';
                }
            },
            series: [pieSeries, pie4Series]
        });
    });
</script>
<% end %>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<div id="containerPie" style="width: 600px; height: 300px; margin: 0 auto"></div>