<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @user.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:emal) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @user.created_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_sign_in_at) %>:</strong></dt>
  <dd><%= @user.last_sign_in_at %></dd>
</dl>

<ul>
  <% @user.permissions.each do |permission| %>
    <li><strong><%= link_to permission.name, edit_permission_path(permission.id) %></strong> &mdash; :<%= permission.action %>, <%= permission.subject_class %><%= (', '+permission.subject_id.to_s) unless permission.subject_id.nil? || permission.subject_id == 0%></li>
  <% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
</div>
