<%= form_for @area, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :LTLat, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :LTLat, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :LTLng, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :LTLng, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :BRLat, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :BRLat, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :BRLng, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :BRLng, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                areas_path, :class => 'btn' %>
  </div>
<% end %>
