<h1>Listing areas</h1>

<table>
  <tr>
    <th>Ltlat</th>
    <th>Ltlng</th>
    <th>Brlat</th>
    <th>Brlng</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= area.LTLat %></td>
    <td><%= area.LTLng %></td>
    <td><%= area.BRLat %></td>
    <td><%= area.BRLng %></td>
    <td><%= area.name %></td>
    <td><%= link_to 'Show', area %></td>
    <td><%= link_to 'Edit', edit_area_path(area) %></td>
    <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area', new_area_path %>
