<%- model_class = Player -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= form_tag players_path, :method => 'get', :class => 'search' do %>
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query" %>
    <%= submit_tag "Search", :name => nil, :class => 'btn' %>
<% end %>

<%= will_paginate @players %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:fraction) %></th>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:realname) %></th>
      <th><%= model_class.human_attribute_name(:comments) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.id, player_path(player) %></td>
        <td><%= link_to (player.name+"&nbsp;&raquo;").html_safe, action_path(player.id) %></td>
        <td><%= player.fraction %></td>
        <td><%= player.level %></td>
        <td><%= player.realname %></td>
        <td><%= player.comments %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_player_path(player), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
